<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>University</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <br>
    <h1>Student</h1>
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Age</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.age}"></td>
        </tr>
        </tbody>
    </table>
    <p>
    <h2>Change name</h2>
    </p>
    <form method="post" th:action="@{/students/update/name/} + ${student.id}">
        <input type="text" name="name">
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
    <p>
    <h2>Change age</h2>
    </p>
    <form method="post" th:action="@{/students/update/age/} + ${student.id}">
        <input type="number" name="age">
        <button class="btn btn-primary" type="submit">Change</button>
    </form>

    <p>
        <a class="btn btn-primary" th:href="@{/students}">To list students</a>
    </p>
</div>
</body>
</html>