<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>University</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <p>
    <h2>Add student</h2>
    </p>
    <form method="post" th:action="@{/students/add}">
        <input type="text" name="name">
        <input type="number" name="age">
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
    <br>
    <h1>List students</h1>
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td></td>
            <td></td>

        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${students}">
            <td th:text="${s.id}"></td>
            <td th:text="${s.name}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{'/students/' + ${s.id} + '/info'}">Info</a>
            </td>
            <td>
                <a class="btn btn-danger" th:href="@{'/students'+'/del/' + ${s.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <p>
        <a class="btn btn-primary" th:href="@{/}">To main</a>
    </p>
</div>
</body>
</html>